.single__review {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    width: 37rem;
    background-color: rgb(20, 19, 19);
    padding: 1rem;

    h2 {
        color: #fff;
    }
}

.comments {
    display: grid;
    align-self: start;
    row-gap: 2rem;
    max-height: 42rem;
    padding-bottom: 1rem;
}

.single-comment {
    max-height: 42rem;
    padding-bottom: 1rem;
}

.no-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color: #fff;
    padding-bottom: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .single__review {
        width: 100%;
        padding: .7rem;
    }

    .comments {
        width: 100%;
    }

    .single-comment {
        max-height: fit-content;
        padding-bottom: 1rem;
    }
}