.settings {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    padding: 2rem 3rem;

    h2 {
        font-size: 2rem;
        color: hsl(212, 7%, 58%);
    }
}

.edit-bio, .change-password {
    padding: 1rem;
    background-color: rgb(20, 19, 19);

    form {
        display: grid;
        row-gap: 1rem;
    }
}

.edit-bio {
    form {
        button {
            width: 5rem;
            padding: 0 1rem;
        }
    }
}

.change-password {
    form {
        button {
            padding: 0 1rem;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .settings {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        padding: 0;
        width: 100%;
    }

    .edit-bio, .change-password {
        width: 100%;
        text-align: center;

        form {
            width: 100%;
            justify-items: center;

            button {
                width: 70%;
            }
        }
    }
}