 @import "../../Variables/Variables";

 .userFavourite {
    h1 {
        color: #fff;
        display: block;
    }
}

.favourite-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.5rem;
    padding-right: 3rem;
}

.favourite-grid__wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    max-height: 35rem;
    overflow-y: scroll;
}

.favourite-grid__length {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid hsl(212, 7%, 58%);
    border-bottom: 1px solid hsl(212, 7%, 58%);
    color: #fff;
}

.no-favourite {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e4e7eb;

    a {
        @include linkStyle(#e4e7eb);
    }
}

@media screen and (min-width: 320px) and (max-width: 500px)  {
    .favourite-grid {
        padding: 1rem;
    }
    .favourite-grid__wrapper {
        grid-template-columns: 1fr;
        max-height: fit-content;
        overflow-y: hidden;
        gap: 0;
        row-gap: 1rem;
        justify-items: center;
    }
}