@import "../../Variables/Variables";

.top-stories {
    padding: 4rem;
}

.top-stories__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 { 
        color: #fff;
    }

    a {
        @include linkStyle(hsl(206, 4%, 66%))
    }

    a:hover {
        color: gold;
    }
}

.top-stories__collection {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 500px)  {
    .top-stories {
        padding: 4rem 1rem;
    }

    .top-stories__collection {
        grid-template-columns: 1fr;
    }
}
