.movie-single {
    display: grid;
    grid-template-columns: 6fr 4fr;
    column-gap: 3rem;
    width: 100%;
    padding: 2rem;
    // padding-top: 3rem;
}

@media screen and (min-width: 375px) and (max-width: 500px) {
    .movie-single {
        column-gap: 0;
        // display: flex;
        // flex-direction: column;
        grid-template-columns: 1fr;
        padding: 2rem 0;
        width: 100%;
    }
}