@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(20, 20, 20);
  height: 100%;
  width: 100%;
}

#modal-root {
  display: grid;
  padding-right: 2rem;
}

#root {
  width: 100%;
  height: 100%;
}


.scroller {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none
}

.scroller::-webkit-scrollbar {
  display: none;
  width: 6px;
}

.scroller::-webkit-scrollbar:hover {
  display: block;
}

.scroller:hover {
  scrollbar-width: thin !important;
}

.scroller::-webkit-scrollbar-track {
  background-color: rgb(29, 26, 26);
}

.scroller::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid rgb(29, 26, 26);
}



@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .scroller {
      overflow-y: overlay
      }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  #modal-root {
    padding: 0;
  }
}

