@import "../../../../Variables/Variables";

.searchItem {
    display: flex;
    padding-bottom: .7rem;
    column-gap: 2rem;
    color: hsl(212, 23%, 43%);

    img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
}



.searchItem-info {
    align-self: flex-end;
    justify-self: flex-start;

    h4 {
        margin-bottom: .3rem;
    }

    p {
        margin-top: .3rem;
    }
}