@import "../../../../Variables/Variables";

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.25);
}

.search-modal {
    justify-self: end;
    position: fixed;
    z-index: 99999;
    border-radius: 7px;
    width: 21rem;
    height: 33rem;
    max-height: fit-content;
    animation: slide-down 300ms ease-out forwards;
    background-color: #fff;

    hr {
        border-width: .3rem;
    }
}

.search-result {
    display: grid;
    row-gap: 1rem;
    overflow-y: auto;
    height: 18rem;
    justify-items: start;
    padding: 1rem;

    h3 {
        text-align: center;
    }
}

.filtered-term {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    width: fit-content;
    background-color: gray;
    border-radius: 0 .5rem  .5rem 0;
    padding: .2rem .5rem;
    color: #fff;
}

.adv-search {
    padding: 0 1rem;

    p {
        color: hsl(212, 23%, 43%);
    }
    // color: #fff;
}

.search-btn {
    display: flex;
    justify-content: space-between;

    button {
        display: flex;
        align-items: center;
        column-gap: .3rem;
        padding: .5rem 1rem;
    }
}

.error {
    text-align: center;
    // align-self: center;
    color: hsl(212, 23%, 43%);
}

.active-filter {
    background-color: red;
}

.inactive-filter {
    background-color: rgb(51, 45, 45);
}

@keyframes slide-down {

    from {
        transform: translateY(0rem);
    }

    to {
        transform: translateY(1rem);
    }

}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .search-modal {
        width: 90%;
        justify-self: center;
        height: 30rem;
        top: 2rem;
        // max-height: 25rem;
    }

    .search-result {
        height: 15rem;
        // max-height: 25rem;
    }
}