@import "../../Variables/Variables";

.button {
    @include btnStyle(red);
}

.button:hover {
    opacity: .7;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}